@import "tailwindcss";

body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.libre-baskerville{
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.libre-baskerville-min{
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.noise{
    @apply size-full bg-[url("assets/noise.png")];
}

.overlay{
    @apply absolute inset-0 size-full bg-[url("assets/noise.png")];
}

@utility radial-gradient {
    background: radial-gradient(
            circle at center,
            #434343 0%,
            #000 50%,
            transparent 100%
    );
}

@utility masked-img {
    mask-image: url("./assets/images/img3.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
}