@import "tailwindcss";

body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('/fonts/LibreBaskerville-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('/fonts/LibreBaskerville-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.noise{
    @apply size-full bg-[url("assets/noise.png")];
}

.overlay{
    @apply absolute inset-0 size-full bg-[url("assets/noise.png")];
}

@utility radial-gradient {
    background: radial-gradient(
            circle at center,
            #434343 0%,
            #000 50%,
            transparent 100%
    );
}

@utility masked-img {
    mask-image: url("./assets/images/img3.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
}