@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.libre-baskerville{
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.noise{
    @apply size-full bg-[url("assets/noise.png")];
}

.overlay{
    @apply absolute inset-0 size-full bg-[url("assets/noise.png")];
}




